#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  
  .high-score {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }
  
  .high-score:hover {
    cursor: default;
    transform: scale(1.025);
  }